@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-10 col-md-offset-1 marginTop25" ng-controller="mainController">
    <div class="col-md-4">
        <div class="form-group">
            <button class="btn btn-block btn-success" ng-click="addNote()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Note
            </button>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-class="note == selectedNote ? 'active' : ''" ng-repeat="note in notes" ng-click="selectNote(note)">
                <div class="clearfix">
                    <div class="pull-left h3 form-control-static">{{calculateTitle(note.mainText)}}</div>
                    <div class="pull-right btn btn-danger" ng-click="removeNote($index)">
                        <span class="glyphicon glyphicon-fire"></span>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-right form-control-static smallFont">{{note.creationDate | timePresentation}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 form-group">
            <textarea type="text" autofocus class="form-control" rows="15" ng-model="selectedNote.mainText">
            </textarea>
    </div>
</div>